name: "web2mp3_server"

networks:
  net:
    name: "webapps"
    external: true

services:

  # contains the database of the application
  # database:
  #   container_name: "yt2mp3_server_database"
  #   networks:
  #   - "net"
  #   image: "mariadb:11.8.2"
  #   # env_file: "../../dbk_app/.env" # useless here -> the "env_file" directive can only be used to set variables inside the running container
  #   # solution -> hard copy the values from the .env file
  #   volumes:
  #   - "/home/arthur/code/docker_data/BACKLARAVEL/database:/var/lib/mysql" # modify if necessary
  #   environment:
  #     MARIADB_ROOT_PASSWORD: "123456789"
  #     MARIADB_DATABASE: "daiboken"
  #     MARIADB_USER: "app_user"
  #     MARIADB_PASSWORD: "987654321"
  #   healthcheck:
  #     test:
  #     - "CMD"
  #     - "healthcheck.sh"
  #     - "--connect"
  #     - "--innodb_initialized"
  #     start_period: "60s"
  #     interval: "5s"
  #     timeout: "5s"
  #     retries: 12
  #   # open the 3306 port to allow accessing the database from outside Docker
  #   ports:
  #   - "3306:3306"
  #   # run as the user that cloned the repository (replace if necessary)
  #   user: "1000:1000"
  #   restart: "unless-stopped"

  # web2mp3_database:
  #   container_name: "web2mp3_server_database"
  #   networks:
  #   - "net"
  #   image: "postgres:17.6"
  #   volumes:
  #   - "/srv/docker_data/web2mp3/postgres:/var/lib/postgresql/data"
  #   environment:
  #     POSTGRES_PASSWORD: "123456789"
  #     POSTGRES_USER: "laravel"
  #   healthcheck:
  #     test:
  #     - "CMD-SHELL"
  #     - "pg_isready -U $$POSTGRES_USER -d $$POSTGRES_USER"
  #     start_period: "60s"
  #     interval: "5s"
  #     timeout: "5s"
  #     retries: 12
  #   ports:
  #   - "5432:5432"
  #   user: "1000:1000"
  #   # entrypoint: "bash"
  #   # restart: "unless-stopped"

  # contains the PHP-FPM processor
  web2mp3_app:
    container_name: "web2mp3_server_app"
    networks:
    - "net"
    build:
      context: "../"
      target: "app_image"
    image: "web2mp3/app"
    depends_on:
    # # - "database"
    #   web2mp3_database:
    #     condition: "service_healthy"
      web2mp3_redis:
        condition: "service_healthy"
    volumes:
    - "../../app:/var/www"
    - "/srv/docker_data/web2mp3/storage:/var/www/storage/app/public"
    - "/srv/docker_data/web2mp3/sqlite:/var/www/sqlite"
    # - "/home/arthur/code/docker_data/yt2mp3/certs/self.crt:/mnt/self.pem:ro"
    # run as the user that cloned the repository (replace if necessary)
    user: "1000:1000"
    restart: "unless-stopped"
    # entrypoint: "bash"
    # ports:
    # - "8000:8000"
    # command:
    # - "php"
    # - "artisan"
    # - "serve"
    # - "--host"
    # - "0.0.0.0"

  # contains a supervisor instance that controls Laravel queue workers
  web2mp3_jobs:
    container_name: "web2mp3_server_jobs"
    networks:
    - "net"
    build:
      context: "../"
      target: "supervisor_image"
      args:
        UID: "1000"
        GID: "1000"
    image: "web2mp3/jobs"
    volumes:
    - "../queue_worker.conf:/etc/supervisor/conf.d/queue_worker.conf:ro"
    - "../../app:/var/www"
    - "/srv/docker_data/web2mp3/storage:/var/www/storage/app/public"
    - "/srv/docker_data/web2mp3/sqlite:/var/www/sqlite"
    - "/srv/docker_data/certs/self.crt:/mnt/self.crt:ro" # necessary for broadcasting websocket events
    depends_on:
    #   web2mp3_database:
    #     condition: "service_healthy"
      web2mp3_redis:
        condition: "service_healthy"
    environment:
      # either "work" (production) or "listen" (development)
      # WORKER_MODE: "listen"
      WORKER_MODE: "work"
    # run as the user that cloned the repository (replace if necessary)
    user: "1000:1000"
    restart: "unless-stopped"
    # entrypoint: "bash"

  web2mp3_reverb:
    container_name: "web2mp3_server_reverb"
    networks:
    - "net"
    build:
      context: "../"
      target: "app_image"
    image: "web2mp3/app"
    depends_on:
    #   web2mp3_database:
    #     condition: "service_healthy"
      web2mp3_redis:
        condition: "service_healthy"
    volumes:
    - "../../app:/var/www"
    - "/srv/docker_data/web2mp3/sqlite:/var/www/sqlite"
    # - "/home/arthur/code/docker_data/yt2mp3/certs/self.crt:/mnt/self.pem:ro"
    # ports:
    # - "9001:9001"
    command:
    - "php"
    - "artisan"
    - "reverb:start"
    # - "--debug"
    restart: "unless-stopped"

  web2mp3_redis:
    container_name: "web2mp3_server_redis"
    networks:
    - "net"
    image: "redis:8.2.1-bookworm"
    volumes:
    - "/srv/docker_data/web2mp3/redis:/data"
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: "5s"
      timeout: "5s"
      retries: 3
    command:
    - "redis-server"
    - "--save 60 1"
    - "--appendonly yes"
    - "--appendfsync everysec"
    restart: "unless-stopped"

  # used to run "npm run dev" to watch for changes in files
  web2mp3_node:
    container_name: "web2mp3_server_node"
    networks:
    - "net"
    image: "node:24.4.0"
    # depends_on:
    # - "app"
    # - "jobs"
    working_dir: "/app"
    volumes:
    - "../../app:/app"
    - "/srv/docker_data/certs:/mnt:ro"
    # run as the user that cloned the repository (replace if necessary)
    user: "1000:1000"
    ### DEV ###
    # restart: "unless-stopped"
    # command:
    # - "npm"
    # - "run"
    # - "dev"
    # ports:
    # - "5173:5173"
    ### END DEV ###
    ### PROD ###
    command:
    - "bash"
    - "-c"
    - "rm -f /app/public/hot && npm run build"
    ### END PROD ###

  # contains the NGINX web server
  web2mp3_nginx:
    container_name: "web2mp3_server_nginx"
    networks:
    - "net"
    build:
      context: "../"
      target: "nginx_image"
    image: "web2mp3/nginx"
    depends_on:
    - "web2mp3_app"
    - "web2mp3_jobs"
    - "web2mp3_reverb"
    volumes:
    # - "/home/arthur/code/docker_data/yt2mp3/certs:/etc/nginx/certs:ro" # modify if necessary
    - "./vhost.conf:/etc/nginx/conf.d/default.conf"
    - "../../app:/var/www"
    - "/srv/docker_data/web2mp3/storage:/var/www/storage/app/public"
    # ports:
    # - "80:80"
    # - "443:443"
    # - "5000:5000"
    restart: "unless-stopped"
    # entrypoint: "bash"
